@import '@blueprintjs/core/lib/scss/variables';

#root {
	max-width: 800px;
	margin: 0 0 0 2em;
	> header {
		display: flex;
		> h1 {
			flex: 1 0 auto;
		}
		> .userMenu {
			flex: 0 1 auto;
			> button {
				> span {
					display: flex;
					> span {
						padding-right: 3px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 840px) {
	#root {
		margin: 0 2px;
		max-width: 100%;
	}
}

.results {
	width: 600px;
	min-height: 22em;
}

.tiny {
	margin: 3px auto;
	max-width: 30em;
}

.center {
	display: block;
	margin: auto;
}

.h-center {
	margin: auto;
}

.v-center {
	height: 100vh;
	padding: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

main.tiny {
	border: solid $pt-divider-black 1px;
	margin: 0 auto;
	padding: 1ex;

	h1 {
		text-align: center;
	}
}

table.attributes {
	table-layout: fixed;
	width: 100%;

	tr:nth-child(even) {
		background: $light-gray3;
	}

	th,
	td {
		padding: 4px;
		vertical-align: middle;
	}
	td + td,
	th + th {
		width: 50px;
		text-align: center;
	}
}
svg.goo {
	margin: auto;
	display: block;

	* {
		transform-origin: 50%;
	}

	g {
		animation: left 8s linear infinite;
	}

	circle:first-child {
		animation: right 2s linear infinite;
	}

	@keyframes left {
		100% {
			transform: rotate(-360deg);
		}
	}

	@keyframes right {
		100% {
			transform: rotate(360deg);
		}
	}
}
