@import '@blueprintjs/core/lib/scss/variables';

#root {
	max-width: 800px;
	margin: 0 auto;

	> header {
		display: flex;
		> h1 {
			flex: 1 0 auto;
		}
		> .userMenu {
			flex: 0 1 auto;
			> button {
				> span {
					display: flex;
					> span {
						padding-right: 3px;
					}
				}
			}
		}
	}
}

.tiny {
	margin: 3px auto;
	max-width: 30em;
}

main.tiny {
	height: 100vh;
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		text-align: center;
	}
}

table.attributes {
	table-layout: fixed;
	width: 100%;

	tr:nth-child(even) {
		background: $light-gray3;
	}

	th,
	td {
		padding: 4px;
		vertical-align: middle;
	}
	td + td,
	th + th {
		width: 50px;
		text-align: center;
	}
}
